/* Typography */

// Body
body {
	font-family: $base-font;
	color: $brand-color;
	font-size: $base-fontsize;
	line-height: $base-lineheight;
	font-weight: $base-fontweight;
}

// Forms
button,
input,
optgroup,
select,
textarea {
	font-size: $base-fontsize;
}

textarea {
	line-height: $base-lineheight;
}

// Headlines
h1, h2, h3, h4, h5, h6 {
	color: $brand-color;
	font-family: $head-font;
	margin: 0 0 $margin 0;
	font-weight: $base-fontweight;
	line-height: $head-lineheight;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.xt-white h1, .xt-white h2, .xt-white h3, .xt-white h4, .xt-white h5, .xt-white h6, .xt-white a, .xt-white p{
	color: #fff !important;
}
