/* From 481 | Phone Landscape & Bigger */
@media (min-width: $breakpoint0 + 1) {
  /* Grid */
  .xt-grid-small-1-1 > * {
    width: 100%;
  }
  .xt-grid-small-1-2 > * {
    width: 50%;
  }
  .xt-grid-small-1-3 > * {
    width: 33.333%;
  }
  .xt-grid-small-2-3 > * {
    width: 66.666%;
  }
  .xt-grid-small-1-4 > * {
    width: 25%;
  }
  .xt-grid-small-1-5 > * {
    width: 20%;
  }
  .xt-grid-small-1-6 > * {
    width: 16.666%;
  }
  .xt-grid-small-1-10 > * {
    width: 10%;
  }

  /* Grid Cells */

  // Whole
  .xt-small-1-1 {
    width: 100%;
  }
  // Halves
  .xt-small-1-2,
  .xt-small-2-4,
  .xt-small-3-6,
  .xt-small-5-10 {
    width: 50%;
  }
  // Thirds
  .xt-small-1-3,
  .xt-small-2-6 {
    width: 33.333%;
  }
  .xt-small-2-3,
  .xt-small-4-6 {
    width: 66.666%;
  }
  // Quarters
  .xt-small-1-4 {
    width: 25%;
  }
  .xt-small-3-4 {
    width: 75%;
  }
  // Fifths
  .xt-small-1-5,
  .xt-small-2-10 {
    width: 20%;
  }
  .xt-small-2-5,
  .xt-small-4-10 {
    width: 40%;
  }
  .xt-small-3-5,
  .xt-small-6-10 {
    width: 60%;
  }
  .xt-small-4-5,
  .xt-small-8-10 {
    width: 80%;
  }
  // Sixths
  .xt-small-1-6 {
    width: 16.666%;
  }
  .xt-small-5-6 {
    width: 83.333%;
  }
  // Tenths
  .xt-small-1-10 {
    width: 10%;
  }
  .xt-small-3-10 {
    width: 30%;
  }
  .xt-small-7-10 {
    width: 70%;
  }
  .xt-small-9-10 {
    width: 90%;
  }
}

/* From 769 | Tablet & Bigger */
@media (min-width: $breakpoint1 + 1) {
  /* Gutenberg */

  // Wide Aligned Images
  .xt-no-sidebar .alignwide {
    margin-left: -50px;
    margin-right: -50px;
    max-width: unset;
    width: auto;
  }

  // Sidebar
  .xt-grid-divider
    > [class*="xt-medium-"]:not(.xt-medium-1-1):nth-child(n + 2) {
    border-left: 1px solid $base-color;
  }

  /* Grid */
  .xt-grid-medium-1-1 > * {
    width: 100%;
  }
  .xt-grid-medium-1-2 > * {
    width: 50%;
  }
  .xt-grid-medium-1-3 > * {
    width: 33.333%;
  }
  .xt-grid-medium-2-3 > * {
    width: 66.666%;
  }
  .xt-grid-medium-1-4 > * {
    width: 25%;
  }
  .xt-grid-medium-1-5 > * {
    width: 20%;
  }
  .xt-grid-medium-1-6 > * {
    width: 16.666%;
  }
  .xt-grid-medium-1-10 > * {
    width: 10%;
  }

  /* Grid Cells */

  // Whole
  .xt-medium-1-1 {
    width: 100%;
  }
  // Halves
  .xt-medium-1-2,
  .xt-medium-2-4,
  .xt-medium-3-6,
  .xt-medium-5-10 {
    width: 50%;
  }
  // Thirds
  .xt-medium-1-3,
  .xt-medium-2-6 {
    width: 33.333%;
  }
  .xt-medium-2-3,
  .xt-medium-4-6 {
    width: 66.666%;
  }
  // Quarters
  .xt-medium-1-4 {
    width: 25%;
  }
  .xt-medium-3-4 {
    width: 75%;
  }
  // Fifths
  .xt-medium-1-5,
  .xt-medium-2-10 {
    width: 20%;
  }
  .xt-medium-2-5,
  .xt-medium-4-10 {
    width: 40%;
  }
  .xt-medium-3-5,
  .xt-medium-6-10 {
    width: 60%;
  }
  .xt-medium-4-5,
  .xt-medium-8-10 {
    width: 80%;
  }
  // Sixths
  .xt-medium-1-6 {
    width: 16.666%;
  }
  .xt-medium-5-6 {
    width: 83.333%;
  }
  // Tenths
  .xt-medium-1-10 {
    width: 10%;
  }
  .xt-medium-3-10 {
    width: 30%;
  }
  .xt-medium-7-10 {
    width: 70%;
  }
  .xt-medium-9-10 {
    width: 90%;
  }
}

/* From 1025 | Desktop & Bigger */
@media (min-width: $breakpoint2 + 1) {
  /* Gutenberg */

  // Wide Aligned Images
  .xt-no-sidebar .alignwide {
    margin-left: -75px;
    margin-right: -75px;
  }

  /* Sidebar */
  .xt-grid-divider > [class*="xt-large-"]:not(.xt-large-1-1):nth-child(n + 2) {
    border-left: 1px solid $base-color;
  }

  /* Grid */
  .xt-grid-large-1-1 > * {
    width: 100%;
  }
  .xt-grid-large-1-2 > * {
    width: 50%;
  }
  .xt-grid-large-1-3 > * {
    width: 33.333%;
  }
  .xt-grid-large-2-3 > * {
    width: 66.666%;
  }
  .xt-grid-large-1-4 > * {
    width: 25%;
  }
  .xt-grid-large-1-5 > * {
    width: 20%;
  }
  .xt-grid-large-1-6 > * {
    width: 16.666%;
  }
  .xt-grid-large-1-10 > * {
    width: 10%;
  }

  /* Grid Cells */

  // Whole
  .xt-large-1-1 {
    width: 100%;
  }
  /* Halves */
  .xt-large-1-2,
  .xt-large-2-4,
  .xt-large-3-6,
  .xt-large-5-10 {
    width: 50%;
  }
  // Thirds
  .xt-large-1-3,
  .xt-large-2-6 {
    width: 33.333%;
  }
  .xt-large-2-3,
  .xt-large-4-6 {
    width: 66.666%;
  }
  // Quarters
  .xt-large-1-4 {
    width: 25%;
  }
  .xt-large-3-4 {
    width: 75%;
  }
  // Fifths
  .xt-large-1-5,
  .xt-large-2-10 {
    width: 20%;
  }
  .xt-large-2-5,
  .xt-large-4-10 {
    width: 40%;
  }
  .xt-large-3-5,
  .xt-large-6-10 {
    width: 60%;
  }
  .xt-large-4-5,
  .xt-large-8-10 {
    width: 80%;
  }
  // Sixths
  .xt-large-1-6 {
    width: 16.666%;
  }
  .xt-large-5-6 {
    width: 83.333%;
  }
  // Tenths
  .xt-large-1-10 {
    width: 10%;
  }
  .xt-large-3-10 {
    width: 30%;
  }
  .xt-large-7-10 {
    width: 70%;
  }
  .xt-large-9-10 {
    width: 90%;
  }
}
@media only screen and (max-width: 1300px) {
  .xt-navigation .xt-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vc_row.vc_row-default-width {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .xt-inner-bg > .xt-container {
    max-width: 96%;
  }
  .xt-tab-right {
    top: -140px;
  }
}
@media only screen and (max-width: 1240px) {
  .xt-logo-container {
    width: 20%;
  }
  .header-buttons {
    width: 30%;
  }
  .xt-navigation .xt-menu-container {
    width: 50%;
  }
}
/* From 1200 | Large Screen & Bigger */
@media (min-width: $breakpoint3 + 1) {
  /* Grid */
  .xt-grid-xlarge-1-1 > * {
    width: 100%;
  }
  .xt-grid-xlarge-1-2 > * {
    width: 50%;
  }
  .xt-grid-xlarge-1-3 > * {
    width: 33.333%;
  }
  .xt-grid-xlarge-2-3 > * {
    width: 66.666%;
  }
  .xt-grid-xlarge-1-4 > * {
    width: 25%;
  }
  .xt-grid-xlarge-1-5 > * {
    width: 20%;
  }
  .xt-grid-xlarge-1-6 > * {
    width: 16.666%;
  }
  .xt-grid-xlarge-1-10 > * {
    width: 10%;
  }

  /* Grid Cells */

  // Whole
  .xt-xlarge-1-1 {
    width: 100%;
  }
  // Halves
  .xt-xlarge-1-2,
  .xt-xlarge-2-4,
  .xt-xlarge-3-6,
  .xt-xlarge-5-10 {
    width: 50%;
  }
  // Thirds
  .xt-xlarge-1-3,
  .xt-xlarge-2-6 {
    width: 33.333%;
  }
  .xt-xlarge-2-3,
  .xt-xlarge-4-6 {
    width: 66.666%;
  }
  // Quarters
  .xt-xlarge-1-4 {
    width: 25%;
  }
  .xt-xlarge-3-4 {
    width: 75%;
  }
  // Fifths
  .xt-xlarge-1-5,
  .xt-xlarge-2-10 {
    width: 20%;
  }
  .xt-xlarge-2-5,
  .xt-xlarge-4-10 {
    width: 40%;
  }
  .xt-xlarge-3-5,
  .xt-xlarge-6-10 {
    width: 60%;
  }
  .xt-xlarge-4-5,
  .xt-xlarge-8-10 {
    width: 80%;
  }
  // Sixths
  .xt-xlarge-1-6 {
    width: 16.666%;
  }
  .xt-xlarge-5-6 {
    width: 83.333%;
  }
  // Tenths
  .xt-xlarge-1-10 {
    width: 10%;
  }
  .xt-xlarge-3-10 {
    width: 30%;
  }
  .xt-xlarge-7-10 {
    width: 70%;
  }
  .xt-xlarge-9-10 {
    width: 90%;
  }
}

/* Until 1200 */
@media screen and (max-width: $breakpoint3) {
  /* Margin */
  .xt-margin-xlarge {
    margin-top: $margin-large;
    margin-bottom: $margin-large;
  }
  .xt-margin-xlarge-top {
    margin-top: $margin-large;
  }
  .xt-margin-xlarge-bottom {
    margin-bottom: $margin-large;
  }
  .xt-margin-xlarge-left {
    margin-left: $margin-large;
  }
  .xt-margin-xlarge-right {
    margin-right: $margin-large;
  }

  /* Padding */
  .xt-padding-xlarge {
    padding-top: $padding-large;
    padding-bottom: $padding-large;
  }
  .xt-padding-xlarge-top {
    padding-top: $padding-large;
  }
  .xt-padding-xlarge-bottom {
    padding-bottom: $padding-large;
  }
  .xt-padding-xlarge-left {
    padding-left: $padding-large;
  }
  .xt-padding-xlarge-right {
    padding-right: $padding-large;
  }
  .xt-menu > .menu-item > a {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 11px;
  }
  .xt-menu .sub-menu .menu-item > a {
    font-size: 13px;
  }
  .xt-podcast-equal {
    padding-top: 80px !important;
  }

  .xt-apply-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-videos-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-clients-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-success-banner .xt-banner-image .vc_single_image-wrapper {
    left: -5%;
  }
  .xt-image-block .inner .image img {
    height: 305px;
  }
  .et-tabs.et-vertical nav {
    min-width: 36% !important;
    max-width: 36% !important;
    padding-right: 2%;
  }
  .et-vertical .et-content-wrap {
    width: 60% !important;
    max-width: 60% !important;
  }
  .xt-inner-bg > .xt-container > .wpb_column {
    padding: 120px 40px;
  }
  .et-tabs-style-iconbox nav ul li a {
    padding: 14px 20px !important;
  }
  .xt-tab-right {
    margin-left: 64%;
  }
}
@media only screen and (max-width: 1140px) {
  .xt-tab-right {
    top: -50px;
  }
}
@media only screen and (max-width: 1100px) {
  .xt-consulting-banner .vc_col-sm-5 {
    width: 30%;
  }
  .xt-consulting-banner .vc_col-sm-7 {
    width: 69%;
  }
  .xt-tab-right {
    top: -30px;
  }
  .xt-boxes h4 {
    font-size: 20px;
  }
  .xt-icon-boxex-thirds .vc_col-sm-4 > .vc_column-inner > .wpb_wrapper {
    padding: 0 10px 80px;
}
.xt-icon-boxex-halves .vc_col-sm-6 > .vc_column-inner > .wpb_wrapper {
    padding: 40px 30px 80px;
}
}

/* Until 1024 */
@media screen and (max-width: $breakpoint2) {
  /* Margin */
  .xt-margin-large,
  .xt-margin-xlarge {
    margin-top: $margin-medium;
    margin-bottom: $margin-medium;
  }
  .xt-margin-large-top {
    margin-top: $margin-medium;
  }
  .xt-margin-large-bottom {
    margin-bottom: $margin-medium;
  }
  .xt-margin-large-left {
    margin-left: $margin-medium;
  }
  .xt-margin-large-right {
    margin-right: $margin-medium;
  }
  .xt-margin-xlarge-top {
    margin-top: $margin-medium;
  }
  .xt-margin-xlarge-bottom {
    margin-bottom: $margin-medium;
  }
  .xt-margin-xlarge-left {
    margin-left: $margin-medium;
  }
  .xt-margin-xlarge-right {
    margin-right: $margin-medium;
  }

  /* Padding */
  .xt-padding-large,
  .xt-padding-xlarge {
    padding-top: $padding-medium;
    padding-bottom: $padding-medium;
  }
  .xt-padding-large-top {
    padding-top: $padding-medium;
  }
  .xt-padding-large-bottom {
    padding-bottom: $padding-medium;
  }
  .xt-padding-large-left {
    padding-left: $padding-medium;
  }
  .xt-padding-large-right {
    padding-right: $padding-medium;
  }
  .xt-padding-xlarge-top {
    padding-top: $padding-medium;
  }
  .xt-padding-xlarge-bottom {
    padding-bottom: $padding-medium;
  }
  .xt-padding-xlarge-left {
    padding-left: $padding-medium;
  }
  .xt-padding-xlarge-right {
    padding-right: $padding-medium;
  }
  .xt-newsletter-img {
    position: absolute;
    top: -50px;
  }
  .xt-home-form {
    justify-content: center;
  }
  .xt-home-form input[type="text"],
  .xt-home-form input[type="email"] {
    width: 45%;
    margin-bottom: 20px;
  }
  .xt-bob {
    height: 500px;
  }
  .xt-banner h1 {
    font-size: 34px;
  }
  .xt-banner .xlight h3 {
    font-weight: 200;
    font-size: 32px;
  }
  .xt-tabs .vc_tta-tabs-list .vc_tta-tab {
    flex: 1;
    width: calc(100% / 6);
  }
  .xt-tabs .vc_tta-tab a:before {
    width: 70px !important;
    height: 50px !important;
  }
  .xt-apply-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-videos-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-clients-banner .xt-banner-image .vc_single_image-wrapper,
  .xt-success-banner .xt-banner-image .vc_single_image-wrapper {
    left: -20%;
  }
  .xt-podcast-equal .vc_col-sm-6 {
    width: 100%;
    margin-bottom: 100px;
  }
  .xt-podcast-equal .vc_col-sm-6:nth-child(2) {
    margin-bottom: 20px;
  }
  .xt-image-block {
    height: auto !important;
    width: auto;
    max-width: 500px;
    margin: 0 auto;
  }
  .xt-video-row p {
    font-size: 14px;
  }
  .xt-banner-content {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .xt-bob {
    position: relative;
    .vc_single_image-wrapper {
      bottom: -50px;
      position: relative;
    }
  }
  .xt-consulting-banner .xt-banner-content {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .video-slider h3 {
    font-size: 22px;
  }
  .xt-mobile-menu a {
    display: block;
    padding: 14px 20px;
  }
  .xt-mobile-menu .menu-item-has-children .xt-submenu-toggle {
    padding: 14px 20px !important;
    color: #fff !important;
  }
  .header-buttons {
    border-top: 1px solid#28176d;
    background: #130257;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 4px;
      background: rgb(255, 118, 223);
      background: -moz-linear-gradient(
        -90deg,
        rgba(255, 118, 223, 1) 0%,
        rgba(255, 118, 223, 1) 33.3%,
        rgba(0, 205, 250, 1) 33.3%,
        rgba(0, 205, 250, 1) 66.66%,
        rgba(38, 70, 253, 1) 66.66%,
        rgba(58, 0, 255, 1) 100%
      );
      background: -webkit-linear-gradient(
        -90deg,
        rgba(255, 118, 223, 1) 0%,
        rgba(255, 118, 223, 1) 33.3%,
        rgba(0, 205, 250, 1) 33.3%,
        rgba(0, 205, 250, 1) 66.66%,
        rgba(38, 70, 253, 1) 66.66%,
        rgba(58, 0, 255, 1) 100%
      );
      background: linear-gradient(
        -90deg,
        rgba(255, 118, 223, 1) 0%,
        rgba(255, 118, 223, 1) 33.3%,
        rgba(0, 205, 250, 1) 33.3%,
        rgba(0, 205, 250, 1) 66.66%,
        rgba(38, 70, 253, 1) 66.66%,
        rgba(58, 0, 255, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff76df",endColorstr="#3a00ff",GradientType=1);
    }
  }
  .xt-banner {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .xt-tab-right {
    top: 0;
    height: auto;
  }
  .xt-inner-bg > .xt-container > .wpb_column {
    padding: 60px 0px;
  }
  .xt-badge > .vc_column-inner > .wpb_wrapper .wpb_raw_code {
    margin-left: 0;
  }
}
@media only screen and (max-width: 960px) {
  .xt-quote-boxes .vc_column_container,
  .xt-row-column-fix .wpb_column,
  .xt-mobile-columns-fix .wpb_column {
    width: 100%;
  }
  .xt-row-column-fix .wpb_column .xt-align-right,
  .xt-mobile-columns-fix .wpb_column .xt-align-right {
    text-align: left;
  }
  .xt-bg-column {
    min-height: 500px !important;
    .vc_column-inner {
      background-position: top center !important;
    }
  }
  .xt-quote-boxes .wpb_column > .vc_column-inner > .wpb_wrapper {
    padding: 10%;
  }
  .xt-success-banner .xt-banner-image img {
    max-width: 85%;
  }
  .xt-consulting-banner .xt-banner-image .vc_single_image-wrapper {
    left: -10%;
  }
  .xt-stats-row .vc_col-sm-3 .vc_column-inner > .wpb_wrapper h2 {
    font-size: 72px;
  }
}

/* Until 768 */
@media screen and (max-width: $breakpoint1) {
  /* General */

  // Pre Header / Footer
  .xt-footer-two-columns,
  .xt-pre-header-two-columns {
    display: block;
    .xt-inner-footer-left,
    .xt-inner-footer-right,
    .xt-inner-pre-header-left,
    .xt-inner-pre-header-right {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  // Right Navigation
  .xt-page-footer {
    .xt-inner-footer-right {
      .xt-menu {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }

  // Left Navigation
  .xt-page-footer {
    .xt-inner-footer-left {
      .xt-menu {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
  }
  .xt-bob {
    height: 500px;
    bottom: -50px;
  }
  .xt-bob:before {
    content: "";
    width: 80px;
    display: block;
    bottom: 30px;
    right: -10px;
  }
  .xt-banner-content {
    padding-top: 80px;
  }
  .xt-banner {
    padding-bottom: 30px;
  }
  .xt-banner .xlight h3 {
    font-weight: 200;
    font-size: 26px;
  }
  .xt-video-row .xt-modal-wrap {
    margin-bottom: 25px;
  }
  h2 {
    font-size: 36px;
  }
  .xt-newsletter-img {
    position: absolute;
    top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .xt-desktop-hide {
    display: block;
  }
  .xt-reverse-row {
    display: block;
  }
  .xt-tabs.xt-center-align {
    flex-direction: column;
  }
  .et-tabs.et-vertical nav {
    min-width: 100% !important;
    max-width: 100% !important;
    padding-right: 0%;
  }
  .et-vertical .et-content-wrap {
    width: 100% !important;
    max-width: 100% !important;
  }
  .xt-tab-right {
    margin-left: 0%;
  }
  .et-tabs.et-vertical.xt-style2 nav {
    min-width: 100% !important;
    max-width: 100% !important;
  }
  .xt-team-tabs nav,
  .xt-tabs.xt-style2 {
    margin-top: 0px;
  }
  .et-vertical.xt-style2 .et-content-wrap {
    width: 100% !important;
    max-width: 100% !important;
    float: none;
    padding: 0;
  }
  .xt-team-tab {
    position: static;
    height: auto;
  }
  .xt-team-tab-row > .xt-container {
    padding-top: 60px !important;
  }
  .xt-icon-boxex-thirds .vc_col-sm-4:nth-child(2) > .vc_column-inner{
    border-left: none;
    border-right:none;
  }
  .xt-icon-boxex-halves .vc_col-sm-6:nth-child(1) > .vc_column-inner {
     border-right:none;
     border-bottom: 1px solid #eff0ff;
}
.xt-icon-boxex-thirds .vc_col-sm-4 > .vc_column-inner > .wpb_wrapper {
    padding: 40px 10px;
}
.xt-icon-boxex-halves .vc_col-sm-6 > .vc_column-inner > .wpb_wrapper {
    padding: 40px 10px ;
}
.xt-halves-border .vc_col-sm-6:nth-child(1) > .vc_column-inner {
    border-right: none;
}
.xt-halves-border .vc_col-sm-6 > .vc_column-inner {
    border-bottom: 1px solid #c9cae0;
}
.xt-halves-border-second-row .vc_col-sm-6:last-child > .vc_column-inner{
  border-bottom: none;
}
.xt-halves-border .vc_col-sm-6 .vc_column-inner > .wpb_wrapper {
    padding: 40px 10px;
}
.xt-halves-border.xt-halves-border-second-row .vc_col-sm-6 .vc_column-inner > .wpb_wrapper {
    padding: 40px 10px;
}
.xt-product-halves .vc_col-sm-6 .vc_column-inner > .wpb_wrapper {
    padding: 40px 10px 0;
}
.xt-product-halves .vc_col-sm-6:nth-child(1) > .vc_column-inner {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
    border-right: none;
    padding-bottom: 60px;
}
.xt-testimonials-row-inner > .xt-container > .wpb_column {
    padding: 60px 20px !important;
}
.xt-footer-logo {
    max-width: 100%;
}
.xt-badge > .vc_column-inner > .wpb_wrapper .wpb_raw_code {
    margin-left: 35px;
}
.xt-badge > .vc_column-inner > .wpb_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.xt-social-icons{
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
.xt-footer-menu{
  margin-top: 40px;
}
.xt-footer-menu .vc_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}
.xt-footer-menu .vc_col-sm-3, .xt-footer-menu .xt-last  {
    max-width: 42%;
    width: 42%!important;
}
.xt-footer-menu .xt-last{
  margin-left: 0;
  margin-right: 0;
}
.xt-inner-footer-right a{
  margin: 0 5px;
}
}
@media only screen and (max-width: 600px) {
}

/* Until 480 */
@media screen and (max-width: $breakpoint0) {
  /* Margin */
  .xt-margin-medium,
  .xt-margin-large,
  .xt-margin-xlarge {
    margin-top: $margin;
    margin-bottom: $margin;
  }
  .xt-margin-large-top {
    margin-top: $margin;
  }
  .xt-margin-large-bottom {
    margin-bottom: $margin;
  }
  .xt-margin-large-left {
    margin-left: $margin;
  }
  .xt-margin-large-right {
    margin-right: $margin;
  }
  .xt-margin-medium-top {
    margin-top: $margin;
  }
  .xt-margin-medium-bottom {
    margin-bottom: $margin;
  }
  .xt-margin-medium-left {
    margin-left: $margin;
  }
  .xt-margin-medium-right {
    margin-right: $margin;
  }
  .xt-margin-xlarge-top {
    margin-top: $margin;
  }
  .xt-margin-xlarge-bottom {
    margin-bottom: $margin;
  }
  .xt-margin-xlarge-left {
    margin-left: $margin;
  }
  .xt-margin-xlarge-right {
    margin-right: $margin;
  }

  /* Padding */
  .xt-padding-medium,
  .xt-padding-large,
  .xt-padding-xlarge {
    padding-top: $padding;
    padding-bottom: $padding;
  }
  .xt-padding-large-top {
    padding-top: $padding;
  }
  .xt-padding-large-bottom {
    padding-bottom: $padding;
  }
  .xt-padding-large-left {
    padding-left: $padding;
  }
  .xt-padding-large-right {
    padding-right: $padding;
  }
  .xt-padding-medium-top {
    padding-top: $padding;
  }
  .xt-padding-medium-bottom {
    padding-bottom: $padding;
  }
  .xt-padding-medium-left {
    padding-left: $padding;
  }
  .xt-padding-medium-right {
    padding-right: $padding;
  }
  .xt-padding-xlarge-top {
    padding-top: $padding;
  }
  .xt-padding-xlarge-bottom {
    padding-bottom: $padding;
  }
  .xt-padding-xlarge-left {
    padding-left: $padding;
  }
  .xt-padding-xlarge-right {
    padding-right: $padding;
  }
  .xt-footer-menu .vc_col-sm-3, .xt-footer-menu .xt-last {
    max-width: 50%;
    width: 50% !important;
}
}

/* Visibility */

/* Desktop and bigger */
@media (min-width: $breakpoint2 + 1) {
  .xt-visible-small {
    display: none !important;
  }
  .xt-visible-medium {
    display: none !important;
  }
  .xt-hidden-large {
    display: none !important;
  }
}
/* Tablets portrait */
@media (min-width: $breakpoint1 + 1) and (max-width: $breakpoint2) {
  .xt-visible-small {
    display: none !important;
  }
  .xt-visible-large {
    display: none !important ;
  }
  .xt-hidden-medium {
    display: none !important;
  }
}
/* Tablets */
@media (max-width: $breakpoint1) {
  .xt-visible-medium {
    display: none !important;
  }
  .xt-visible-large {
    display: none !important;
  }
  .xt-hidden-small {
    display: none !important;
  }
}
