.xt-menu-right .xt-menu a {
  font-size: 17px;
  color: #8492a4;
  font-weight: 600;
}
.xt-navigation .xt-container {
  padding-left: 0;
  padding-right: 0;
}
.xt-menu .sub-menu li a {
  padding: 15px 20px;
  font-size: 14px;
}
.xt-menu-right .xt-menu {
  float: none;
  justify-content: center;
}

.header-buttons .custom-html-widget {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a {
    @include border-radius(16px);
    padding: 16px 24px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
  }
  a.btn-light {
    background: #ebe5ff;
    color: #3a00ff;
  }
  a.btn-blue {
    background: #3a00ff;
    color: #fff;
    margin-left: 8px;
  }
}
.vc_btn3-container {
  margin-bottom: 0px !important;
}
.vc_btn3 {
  @include border-radius(16px);
  padding: 15px 24px !important;
  font-size: 16px !important;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75 !important;
  letter-spacing: normal;
}
.vc_btn3-color-blue {
  background: $accent-color !important;
  color: #fff !important;
}
.vc_btn3-color-purple {
  background: rgba(58, 0, 255, 0.1) !important;
  color: $accent-color !important;
}
.xt-fullwidth,
.xt-fullwidth a {
  display: block !important;
  width: 100%;
}
.vc_btn3-color-pink {
  background: #ff76df !important;
  color: #fff !important;
}
.vc_btn3-color-pink:hover {
  background: #ff63db !important;
  color: #fff !important;
}
.vc_btn3-color-default {
  background: rgba(58, 0, 255, 0.1) !important;
  color: #3a00ff !important;
}
.vc_btn3-color-default:hover {
  background: #4a15ff !important;
  color: #fff !important;
}
.vc_btn3-color-purple:before {
  background: url(img/right-blue.svg) no-repeat !important;
}
.xt-arrow a {
  position: relative;
  padding-right: 59px !important;
}
.xt-arrow a::before {
  content: "";
  background: url(img/right.svg) no-repeat;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 19px;
  height: 14px;
}

.xt-banner {
  @include border-radius(16px);
}
.xt-banner h3 {
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #0e1b22;
  opacity: 0.7;
}

.xt-left-border p {
  position: relative;
  padding-left: 21px;
  font-size: 18px;
}
.xt-left-border p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  height: calc(100% - 14px);
  width: 2px;
  display: block;
  background: rgb(255, 118, 223);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 118, 223, 1) 0%,
    rgba(255, 118, 223, 1) 33.33%,
    rgba(0, 205, 250, 1) 33.33%,
    rgba(0, 205, 250, 1) 66.66%,
    rgba(35, 80, 253, 1) 66.66%,
    rgba(58, 0, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 118, 223, 1) 0%,
    rgba(255, 118, 223, 1) 33.33%,
    rgba(0, 205, 250, 1) 33.33%,
    rgba(0, 205, 250, 1) 66.66%,
    rgba(35, 80, 253, 1) 66.66%,
    rgba(58, 0, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 118, 223, 1) 0%,
    rgba(255, 118, 223, 1) 33.33%,
    rgba(0, 205, 250, 1) 33.33%,
    rgba(0, 205, 250, 1) 66.66%,
    rgba(35, 80, 253, 1) 66.66%,
    rgba(58, 0, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff76df",endColorstr="#3a00ff",GradientType=1);
}
.xt-max-width-400 {
  max-width: 420px;
}

.xt-logos-row {
  display: flex;
  align-items: center;
  justify-content: center;
  .vc_col-sm-2 p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.highlight {
  color: $accent-color !important;
}

.xt-boxes {
  > .wpb_column > .vc_column-inner {
    @include border-radius(16px);
    > .wpb_wrapper {
      padding: 32px 0px 40px;
      p {
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: normal;
        text-align: center;
        color: #8492a4;
      }
    }
  }
}

.et-tabs-style-iconbox nav ul li {
  @include border-radius(16px);
  background-color: rgba(177, 177, 213, 0.1) !important;
  margin-bottom: 8px !important;
  overflow: hidden;

  a {
    padding: 14px 37px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    img {
      margin: 0px 20px 0 0 !important;
    }
    .et-tab-title {
      font-family: "Gilroy";
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #0e1b22;
    }
    .et-tab-sub-title {
      display: none;
    }
  }
}
.et-vertical.et-tabs-style-iconbox nav ul li.tab-current::after {
  display: none !important;
}
.page .xt-tabs nav ul li.tab-current .et-tab-title {
  color: $accent-color;
}
.et-tabs-style-iconbox nav ul li.tab-current {
  box-shadow: 10px 10px 15px 0 rgba(124, 145, 162, 0.1) !important;
  background-color: #f8f8ff !important;
  .et-tab-sub-title {
    display: block;
    color: #8492a4 !important;
    text-align: left;
    line-height: 1.63;
    font-weight: 500;
    padding-left: 45px;
  }
}
.et-tabs-style-iconbox nav ul li:not(.tab-current):before {
  display: none;
}
.et-tabs-style-iconbox nav {
  background: transparent !important;
}
.et-tabs.et-vertical nav {
  min-width: 33% !important;
  max-width: 33% !important;
}
.et-vertical .et-content-wrap {
  width: 65% !important;
  max-width: 65% !important;
  float: left;
}
.page .xt-tabs nav ul li.tab-current:before {
  width: 4px !important;
  height: 100% !important;
  background: #3a00ff !important;
  content: "";
  position: absolute;
  top: 0% !important;
  left: 0;
}
.page
  .et-vertical.et-tabs-style-iconbox
  nav
  ul
  li.tab-current:first-child:before {
  background: #3a00ff !important;
}
.xt-half-bg {
  background: rgb(248, 248, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(248, 248, 255, 1) 0%,
    rgba(248, 248, 255, 1) 38%,
    rgba(254, 254, 255, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(248, 248, 255, 1) 0%,
    rgba(248, 248, 255, 1) 38%,
    rgba(254, 254, 255, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(248, 248, 255, 1) 0%,
    rgba(248, 248, 255, 1) 38%,
    rgba(254, 254, 255, 1) 38%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f8ff",endColorstr="#ffffff",GradientType=1);
}
.elegant-tabs-list-container li:last-child {
  margin-bottom: 20px !important;
}
.et-align-right nav {
  float: right !important;
}
.elegant-tabs-container {
  float: none !important;
}
.xt-tab-right {
  margin-left: 67%;
  position: relative;
  top: -170px;
  height: 0;
}
.xt-stats-row .vc_col-sm-3 .vc_column-inner {
  @include border-radius(16px);
  box-shadow: 10px 22px 24px 0 rgba(124, 145, 162, 0.15);
  background-color: #f8f8ff;
  > .wpb_wrapper {
    padding: 46px 0px;
    h2 {
      font-size: 109px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #3a00ff;
    }
    p {
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 1px;
      text-align: center;
      color: #8492a4;
    }
  }
}

.xt-inner-bg > .xt-container {
  background: #f3f3ff !important;
  @include border-radius(16px);
  > .wpb_column {
    padding: 120px 80px;
  }
}

.xt-left-separator p {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 1px;
  color: $accent-color;
  text-transform: uppercase;
  padding-left: 42px;
  position: relative;
  &:before {
    content: "";
    width: 30px;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    top: 8px;
    left: -0px;
    display: block;
  }
}
.xt-tabs.xt-center-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.et-tabs-style-iconbox.xt-style2 nav ul li.tab-current:before {
  display: none !important;
}
.et-tabs-style-iconbox.xt-style2 nav ul li.tab-current,
.et-tabs-style-iconbox.xt-style2 nav ul li {
  box-shadow: none !important;
  background-color: transparent !important;
}
.et-tabs-style-iconbox.xt-style2 nav ul li {
  border-bottom: 1px solid #e0daff;
  @include border-radius(0px);
}
.et-tabs-style-iconbox.xt-style2 nav ul li a {
  padding: 8px 0px !important;
}
.et-tabs-style-iconbox.xt-style2 .et-tab-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #0e1b22;
}
.et-tabs.et-vertical.xt-style2 nav {
  min-width: 33% !important;
  max-width: 46% !important;
}
.et-vertical.xt-style2 .et-content-wrap {
  width: 50% !important;
  max-width: 50% !important;
  float: right;
  padding: 0 1%;
}
.xt-team-name {
  margin-bottom: 19px !important;
}
.xt-team-name h4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25.2px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: right;
  color: #0e1b22;

  img {
    margin-left: 20px;
  }
}
.xt-bubble {
  -webkit-border-radius: 16px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 16px;
  -moz-border-radius-topright: 0;
  border-radius: 16px;
  border-top-right-radius: 0;
  box-shadow: 10px 22px 24px 0 rgba(124, 145, 162, 0.05);
  background-color: #ffffff;
  padding: 16px 34px 16px 38px;
  margin-bottom: 12px !important;
  p {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #0e1b22;
  }
}
.xt-bubble.center-align p {
  display: flex;
  align-items: center;
}
.xt-bubble:last-child {
  margin-bottom: 40px !important;
}
.xt-bubble strong {
  width: 48px;
  height: 48px;
  min-width: 48px;
  margin-right: 38px;
  display: block;
  text-align: center;
  @include border-radius(19.2px);
  background-color: rgba(58, 0, 255, 0.1);
  color: $accent-color;
  font-size: 21.6px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  letter-spacing: normal;
}

.xt-team-tab {
  top: -110px;
  position: relative;
  height: 0;
}
.xt-tabs.xt-style2 {
  margin-top: -320px;
}
.xt-team-tabs nav {
  margin-top: 180px;
}
.xt-team-tab-row > .xt-container {
  padding-top: 120px !important;
}

.xt-testimonials-row > .xt-container {
  z-index: 5;
  background: $accent-color !important;
  position: relative;
  &:before {
    content: "";
    background-image: linear-gradient(
      to bottom,
      rgba(0, 205, 250, 0),
      rgba(0, 205, 250, 0.27)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    @include border-radius(16px);
    left: 0;
    top: 0;
  }
  .xt-logos-row img {
    opacity: 0.64;
  }
}
.xt-testimonials-row > .xt-container > .wpb_column {
  padding: 60px 80px;
}

.xt-testimonials-content p {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #0e1b22;
}
.xt-testimonial-author .wpb_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  h4 {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #f8f8ff;
    margin-bottom: 8px;
  }
  h5 {
    opacity: 0.6;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 1px;
    text-align: right;
    color: #f8f8ff;
    text-transform: uppercase;
  }
}
.xt-align-center .wpb_wrapper {
  text-align: center;
}
.xt-dark-blue .vc_btn3 {
  background-color: rgba(58, 0, 255, 0.1) !important;
}
.xt-cta-row .xt-dark-blue {
  margin-right: 8px;
}
.home-cta.xt-cta-row {
  padding-top: 360px !important;
  margin-top: -340px;
}

.xt-cta-row {
  position: relative;

  &:before {
    content: "";
    width: 264px;
    height: 350px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 205, 250, 0),
      rgba(0, 205, 250, 0.27)
    );
    position: absolute;
    left: -103px;
    bottom: -144px;
    transform: rotate(-45deg);
  }

  &:after {
    content: "";
    width: 326px;
    height: 530px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 205, 250, 0),
      rgba(0, 205, 250, 0.27)
    );
    top: -200px;
    position: absolute;
    transform: rotate(135deg);
    right: -100px;
  }
}

.xt-badge > .vc_column-inner > .wpb_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 440px;
  .wpb_raw_code {
    margin-left: 35px;
    height: 78px;
  }
}
.xt-footer .xt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.xt-footer-logo {
  max-width: 440px;
}
.xt-footer-menu {
  margin-right: 0;
  margin-left: auto;
}
.xt-footer-menu .menu > li > a {
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #ffffff;
  display: block;
  margin-bottom: 18px;
}
.xt-footer-menu .sub-menu > li > a {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.xt-footer-menu .vc_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.xt-footer-menu .vc_col-sm-4 {
  max-width: 200px;
}
.xt-inner-footer-right a {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  opacity: 0.4;
  margin-left: 33px;
}
.xt-social-icons a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 16px;
  box-shadow: inset 0 0 13px 0 rgba(118, 134, 191, 0.17);
  background: rgba(250, 250, 255, 0.1);
  text-align: center;
  position: relative;
  margin-right: 8px;
  font-size: 20px;
  i {
    color: #fff;
    opacity: 1;
    position: relative;
    top: 5px;
  }
}

.xt-stats-row {
  padding-top: 0px !important;
}
.xt-icon-boxex-thirds .vc_col-sm-4 > .vc_column-inner > .wpb_wrapper {
  padding: 0 50px 80px;
}
.xt-icon-boxex-halves .vc_col-sm-6 > .vc_column-inner > .wpb_wrapper {
  padding: 40px 90px 80px;
}

.xt-icon-boxex-thirds .vc_col-sm-4 > .vc_column-inner {
  border-bottom: 1px solid #eff0ff;
}
.xt-icon-boxex-thirds .vc_col-sm-4:nth-child(2) > .vc_column-inner {
  border-left: 1px solid #eff0ff;
  border-right: 1px solid #eff0ff;
}
.xt-icon-boxex-halves .vc_col-sm-6:nth-child(1) > .vc_column-inner {
  border-right: 1px solid #eff0ff;
}
.xt-checklist ul {
  padding-left: 0px;
}
.xt-checklist ul li {
  list-style: none;
  position: relative;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #0e1b22;
  padding-left: 44px;
}
.xt-checklist ul li:after {
  position: absolute;
  content: "";
  background: url(img/check.svg) no-repeat;
  display: block;
  width: 12px;
  height: 10px;
  left: 5px;
  top: 8px;
}
.xt-checklist ul li:before {
  position: absolute;
  content: "";
  background: $accent-color;
  display: block;
  width: 24px;
  height: 24px;
  left: 0;
  top: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.xt-large-p p {
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #0e1b22;
  opacity: 0.7;
}

.xt-halves-border .vc_col-sm-6 .vc_column-inner > .wpb_wrapper {
  padding: 0 70px 40px;
  p {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #8492a4;
  }
}
.xt-halves-border.xt-halves-border-second-row
  .vc_col-sm-6
  .vc_column-inner
  > .wpb_wrapper {
  padding: 40px 70px 20px;
}
.xt-halves-border.xt-halves-border-second-row .vc_col-sm-6 > .vc_column-inner {
  border-top: 1px solid #c9cae0;
}
.xt-halves-border .vc_col-sm-6:nth-child(1) > .vc_column-inner {
  border-right: 1px solid #c9cae0;
}

.xt-product-halves .vc_col-sm-6:nth-child(1) > .vc_column-inner {
  border-right: 1px solid rgba(151, 151, 151, 0.3);
}
.xt-product-halves .vc_col-sm-6 .vc_column-inner > .wpb_wrapper {
  padding: 108px 70px 0;
}
.xt-right-arrow h2,
.xt-right-arrow p {
  position: relative;
}
.xt-right-arrow h2:after,
.xt-right-arrow p:after {
  content: "\f103";
  color: #00cdfa;
  font-family: "xt-framework";
  position: absolute;
  right: 0;
  font-size: 26px;
}
.xt-right-arrow h2:after {
  top: 16px;
}
.xt-right-arrow p:after {
  top: -4px;
}

.xt-testimonials-centered .xt-testimonials-content p {
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #f8f8ff;
}
.xt-testimonials-centered .xt-testimonial-author .wpb_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.xt-testimonials-centered .xt-testimonial-author .wpb_wrapper h4,
.xt-testimonials-centered .xt-testimonial-author .wpb_wrapper h5 {
  text-align: left;
}
.xt-testimonials-centered .xt-testimonial-author .wpb_wrapper img {
  margin-left: 0;
  margin-right: 20px;
}
.xt-testimonials-row-inner > .xt-container > .wpb_column {
  padding: 120px 80px !important;
}
.xt-testimonials-row-inner {
  margin-top: -30px;
}
.xt-icon-text {
  margin-bottom: 10px !important;
}
.xt-icon-text img {
  max-width: 30px;
  margin-right: 20px;
}
.xt-blue-bg > .xt-container {
  background: #00cdfa !important;
}
.xt-dark-blue-bg .xt-container {
  background: $accent-color !important;
}
.xt-desktop-hide {
  display: none;
}

.infi-tab-accordion {
  -moz-border-radius: 16px !important;
  -webkit-border-radius: 16px !important;
  -ms-border-radius: 16px !important;
  border-radius: 16px !important;
  background-color: rgba(177, 177, 213, 0.1) !important;
  margin-bottom: 8px !important;
  overflow: hidden;
  .infi_accordion_item {
    padding: 14px 37px !important;
  }
}
.infi-active-tab {
  box-shadow: 0px 8px 16px 0 rgba(124, 145, 162, 0.1) !important;
  background-color: #f8f8ff !important;
  .has-icon {
    color: $accent-color;
  }
}
.infi-content-wrapper {
  margin-top: 15px;
}
.xt-footer-menu .vc_col-sm-3 {
  width: calc(100% / 3);
}
.xt-footer-menu .xt-last {
  width: 40% !important;
  margin-left: 0;
  margin-right: auto;
}

.noUi-horizontal .noUi-handle {
  width: 39px;
  height: 39px;
  left: -17px;
  top: -17px;
  box-shadow: none !important;
  border: none;
  background: transparent !important;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
  background: #3a00ff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 11px 3px rgba(57, 26, 161, 0.29);
  outline: none !important;
}
.noUi-handle:after {
  display: none;
}
.noUi-handle:before {
  background: #ff76df;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.noUi-connect {
  background: #ff76df;
}
.noUi-target {
  background: #ebe5ff;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  height: 8px;
}
.noUi-connects {
  border-radius: 30px;
}
.noUi-horizontal .noUi-handle {
  outline: none !important;
}
.noUi-horizontal .noUi-tooltip {
  bottom: -180%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #3a00ff;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.noUi-horizontal .noUi-tooltip:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #3c00ff transparent;
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translate(-50%, 0);
}
.xt-yearly > .vc_column-inner,
.xt-monthly > .vc_column-inner {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  padding: 24px !important;
}
.xt-yearly > .vc_column-inner > .wpb_wrapper {
  position: relative;
}
.xt-show-above {
  display: none;
}
.xt-save {
  background: #ff76df;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  max-width: max-content;
  padding: 0 10px;
  position: absolute;
  right: 0;
}
.xt-yearly h3,
.xt-monthly h3 {
  font-size: 32px;
  font-weight: bold;
  color: #0e1b22;
  letter-spacing: 0;
  text-align: center;
  line-height: 40px;
  opacity: 1;
  margin-bottom: 10px !important;
}
.xt-yearly h3 {
  color: #ffffff;
}
.xt-plan-desc {
  opacity: 0.8;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  font-weight: 500;
}
.xt-price .large {
  font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ff76df;
}
.xt-price {
  margin: 20px 0;
}
.xt-price .large .small {
  font-size: 26px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #ff76df;
}
.xt-monthly .large .small,
.xt-monthly .xt-price .large {
  color: #3a00ff;
}
.xt-yearly .xt-show-above h2 a {
  color: #ff76df!important;
}
.xt-monthly .xt-show-above h2 {
  color: #3a00ff;
}
.xt-monthly .xt-bottom {
  position: absolute;
  width: 100%;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0.6;
  font-size: 20px;
  color: #3a00ff;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}
.size-20 {
  font-size: 20px;
}
.xt-dark-font p {
  color: #0e1b22;
}
.xt-pricing-details .xt-blue h3 {
  font-size: 32px;
  color: #3a00ff;
  letter-spacing: 0;
  line-height: 40px;
}
.xt-checklist-2 ul {
  padding-left: 0px;
}
.xt-checklist-2 ul li {
  list-style: none;
  position: relative;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #0e1b22;
  padding-left: 44px;
  border-bottom: 1px dashed rgba(151, 151, 151, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
}
.xt-checklist-2 ul li:last-child {
  border-bottom: none;
}
.xt-checklist-2 ul li:after {
  position: absolute;
  content: "";
  background: url(img/check-2.svg) no-repeat;
  stroke: #3a00ff;
  display: block;
  width: 16px;
  height: 12px;
  left: 6px;
  top: 15px;
}
.xt-checklist-2 ul li:before {
  position: absolute;
  content: "";
  background: rgba(58, 0, 255, 0.1);
  display: block;
  width: 28px;
  height: 28px;
  left: 0;
  top: 7px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.benchmark {
  font-size: 18px;
  color: rgba(14, 27, 34, 0.4);
  letter-spacing: 0;
  line-height: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cooming-soon {
  background: #3a00ff;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0px 8px;
}

.gform_wrapper input[type="text"],
.gform_wrapper input[type="email"],
.gform_wrapper textarea {
  background: #f1f2f8;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  border: none;
  padding: 20px 58px !important;
  color: rgba(132, 146, 164, 0.78);
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  font-weight: bold;
  position: relative;
  outline: none !important;
}
.gform_wrapper ul.gform_fields li.gfield span.name_first, .gform_wrapper ul.gform_fields li.gfield span.name_last, .gform_wrapper ul.gform_fields li.gfield span.name_middle {
    padding-top: 0px!important;
}
.gform_wrapper .name_first,
.gform_wrapper .ginput_container_email,
.gform_wrapper .ginput_container_textarea {
position: relative;
}
.gform_wrapper .name_first:before,
.gform_wrapper .ginput_container_email:before,
.gform_wrapper .ginput_container_textarea:before {
    content: "";
    left: 30px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 25px;
    z-index: 1;
}
.gform_wrapper .name_first:before{
  background: url(img/user.svg)no-repeat;
}
.gform_wrapper .ginput_container_email:before{
  background: url(img/envelope.svg)no-repeat;
  top: 28px;
}
.gform_wrapper .ginput_container_textarea:before{
  background: url(img/pen.svg)no-repeat;
  top: 30px;
}
.gform_footer{
  margin-top: 10px !important;
  text-align: right;
  input[type=submit]{
    background: #3A00FF;
  -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
     padding: 20px 50px !important;
  }

}
.xt-contact-details-row .contact-title{
  position: relative;
  &:before{
    content: "";
    position: absolute;
    z-index: 1;
    left: -40px;
    top: 2px;
  }
}
.xt-contact-details-row .contact-title.contact-address:before{
  background: url(img/pin.svg)no-repeat;
  width: 18px;
  height: 23px;
}
.xt-contact-details-row .contact-title.contact-careers:before{
  background: url(img/briefcase.svg)no-repeat;
  width: 22px;
  height: 21px;
}
.xt-contact-details-row .contact-title.contact-support:before{
  background: url(img/support.svg)no-repeat;
  width: 25px;
  height: 25px;
}
.xt-contact-details-row .contact-title.contact-billing:before{
  background: url(img/billing.svg)no-repeat;
  width: 26px;
  height: 19px;
  top: 5px;
}
.contact-title h3{
  margin-bottom: 18px!important;
  font-size: 24px;
  color: #0E1B22;
  letter-spacing: 0;
  font-weight: 500;
}
.xt-contact-details-row .xt-directions{
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 500;
  margin: 10px 0 13px!important;
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #0E1B22;
}
.xt-contact-details-row .contact-info{
  font-weight: 500;
}

.xt-contact-details-row .contact-info, 
.xt-contact-details-row .contact-title{
  margin-left: 40px;
}
.xt-contact-info-column{
  margin-top: 70px;
}